.person-row {
  margin: 1.6rem 0 0 0;
}

.person-details {
  margin: 0 0 1.6rem 0;
}

.img-fluid {
    width: 100%;
}

p.profile.contact {
    margin-top: 2px;
    margin-bottom: 2px;
}

.degree {
    margin-bottom: 1.0em;
}