---
---
@import "scss/fontawesome.scss";
@import "scss/solid.scss";
@import "scss/regular.scss";
@import "scss/brands.scss";

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-family: "Open Sans", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;

  @media (min-width: 38em) {
    font-size: 20px;
  }
}

body {
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

.MathJax_Display{
  font-size: 80%;
}

.project-container a {
  color: #6b6b6b;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 600;
  font-family: "Open Sans", "Source Sans Pro";
  line-height: 1.1;
  color: #333;
  letter-spacing: -.025rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.3rem;
}

h4, h5, h6 {
  font-size: 1rem;
}

p {
  font-family: "Open Sans", "Helvetica Neue", Helvetica;
  font-weight: 300;
  margin: 0 0 1rem;
  font-size: 0.8rem;
}

ul, ol, dl {
  font-family: "Open Sans", "Helvetica Neue", Helvetica;
  font-weight: 300;
  font-size: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

li > ul > li {
    margin-left: 1rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

ul {
  /*font-family: Helvetica, 'Ubuntu Mono';*/
  font-size: 0.8rem;
  list-style: inside circle;
  padding-left: 0;

  li {
    margin-bottom: .25rem;
  }

  ul,
  ol {
    margin-top: .25rem;
    margin-bottom: .5rem;
  }
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ol {
  list-style: inside decimal;
  padding-left: 0;

  li {
    margin-bottom: .25rem;
  }

  ul,
  ol {
    margin-top: .25rem;
    margin-bottom: .5rem;
  }
}

p + h1,
p + h2,
p + h3,
ul + h1,
ul + h2,
ul + h3,
ol + h1,
ol + h2,
ol + h3 {
  margin-top: 1.5rem;
}

hr {
  border: 0;
  border-top: .5px solid #eee;
  border-bottom: .5px solid #eee;
  margin: 1.5rem auto;
}

strong {
  color: #333;
  font-weight: 600;
}

abbr {
  font-size: 80%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

blockquote {
  padding: 0 0 0 1.5rem;
  margin: 0 2rem 1rem 0;
  //color: #999;
  border-left: .5rem; //solid #e5e5e5

  p:last-child {
    margin-bottom: 0;
  }
}

code,
pre {
  font-family: Monaco, "Courier New", monospace;
}

code {
  padding: .25em .5em;
  font-size: 80%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  // word-wrap: break-word;
  background-color: #f9f9f9;
}

pre code {
  padding: 0;
  font-size: 80%;
  color: inherit;
  background-color: transparent;
}

.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
  border: none;
}

.highlight pre {
  margin-bottom: 0;
}

.gist .gist-file {
  font-family: Monaco, "Courier New", monospace !important;
}

.gist .markdown-body {
  padding: 15px;
}

.gist pre {
  padding: 0;
  background-color: transparent;
}

.gist .gist-file .gist-data {
  font-size: .8rem !important;
  line-height: 1.4;
}

.gist code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}

img {
  display: block;
  max-width: 100%;
  margin: 0;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 70%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
  font-size: 140%;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

.lead {
  font-size: 1.25rem;
}

.container {
  max-width: 90rem;
//  padding: 2rem 1.5rem;
  margin-left:  auto;
  margin-right: auto;

  @media (min-width: 40rem){
//    padding: 5rem 1rem;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}

.masthead {

  &-title {
    font-weight: 300;

    a {
      color: #333;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    span {
      color: #ddd;
    }

  }

  &-title--small {
    margin-bottom: .75rem;
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;

    a {
      color: #333;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  .masthead-nav {
    margin-bottom: 2rem;

    a {
      color: #aaa;
      font-weight: 300;
      text-transform: lowercase;
      -webkit-transition: all .2s ease;
         -moz-transition: all .2s ease;
              transition: all .2s ease;

      &:hover,
      &:focus {
        color: #333;
        text-decoration: none;
      }

      + a {
        margin-left: .25rem;
      }
    }
  }

}

.page {
  &-title {
    margin-bottom: 2rem;
  }
}

.post {
  &-title {
    margin-bottom: .25rem;
  }
  &-date {
    margin-bottom: 2rem;
    font-size: .75rem;
    text-transform: uppercase;
  }
}

.list {
  &-post-title {
    margin-bottom: .25rem;

    a {
      color: #333;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
  &-post-date {
    margin-bottom: 1rem;
    font-size: .75rem;
    text-transform: uppercase;
  }
}

.projects-list {
  a {
    color: #333;
  }
}

.profile-thumbnail {
  object-fit: cover;
  object-position: center top;
  width: 200px;
  height: 200px;
}

.pi-thumbnail {
  object-fit: cover;
  object-position: center top;
  width: 300px;
  height: 300px;
}

.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #000000; font-weight: bold } /* Keyword */
.highlight .o { color: #000000; font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: #000000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d01040 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nl { color: #990000; font-weight: bold } /* Name.Label */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { color: #000000; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d01040 } /* Literal.String.Backtick */
.highlight .sc { color: #d01040 } /* Literal.String.Char */
.highlight .sd { color: #d01040 } /* Literal.String.Doc */
.highlight .s2 { color: #d01040 } /* Literal.String.Double */
.highlight .se { color: #d01040 } /* Literal.String.Escape */
.highlight .sh { color: #d01040 } /* Literal.String.Heredoc */
.highlight .si { color: #d01040 } /* Literal.String.Interpol */
.highlight .sx { color: #d01040 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d01040 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

// customization
.pos_header {
  margin-left: 2rem;
}

.people {
  margin: auto;
  text-align: center;
  margin-top: 0.75em;
}

.list-item-people {
  display: inline-block;
  padding-right: 0.5em;
  padding-left: 0.5em;
  vertical-align: top;
}

.list-item-mac-description {
  display: inline-block;
  padding-right: 0.5em;
  padding-left: 2.0em;
  padding-top: 3.0em;
  vertical-align: top;
}

.list-post-title img {
  margin-bottom: 0.75em;
  margin-top: 1.25em;
}

.list-post-title .name {
  font-size: 18px;
}

.list-post-title {
  color: black;
}

.list-post-extra {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  max-width: 200px;
}

.list-detail {
  font-size: 15px;
  color: #838383;
}

.list-item a:hover, .list-post-title:hover .name, .list-post-title .name:hover {
  color: #ccc;
}

.funding-img {
  max-height: 200px;
  width: 32%;
  object-fit: contain;
  object-position: center-top;
  display: inline-block;
  padding: 10px 25px 10px 25px
}

@media (max-width:770px) {
  .funding-img {
    width: 49%;
  }
}

.page-title {
  margin-bottom: 0.6rem;
}

img.banner-img {
    max-width: 100%;
    height: auto;
    min-height: 150px;
    border-radius: 0px;
    margin: 0px;
}

.home-masthead{
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    width: 70%;
    background-color: E7E6E6;
    z-index: 10;
    position: relative;

    p {
      font-size: 1.25rem;
      font-weight: 300;
      font-style: italic;
      margin: 0;
    }

    h1 {
       font-size: 3.5rem;
       font-weight: 300;
    }

}

// fix weird masthead text wrap on mobile sizes
@media (max-width: 767.98px) {
    .home-masthead{
        h1 {
            font-size: 2.5rem;
        }
        p{
            font-size: 1rem;
        }
    }
}

.news {
    background-color: #F9F6EF;
    z-index: 9;
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
    h2 {
        text-align: center;
        color: black;
        font-weight: 500;
    }

    p {
        margin: 0;
        font-size: 1rem;
    }
    hr {
        border-top: 0.05rem solid #ccc;
        border-bottom: 0.05rem solid #ccc;
    }
}

@media (max-width: 767.98px) {
    .news {
        p {
            font-size: 0.8rem;
        }
    }
}

.research-panel {
    background-color: #fff;
    z-index: 8;
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
    h2 {
        text-align: center;
        color: black;
        font-weight: 500;
    }

    p {
        margin: 0;
        font-size: 1rem;
    }

    hr {
        border-top: 0.05rem solid #ccc;
        border-bottom: 0.05rem solid #ccc;
    }

}

.project-tile {
    background-color: #fff;
    border-radius: 0.2rem;
    img {
        object-fit: cover;
        overflow: hidden;
        min-height: 35vh;
        height: 100%;
        width: 100%;
        z-index: 1;
    }
    h5{
        font-size: 0.8rem;
    }

    .project-title{
        min-height: 8vh;
    }

    @media (max-width: 720px) {
        img {
            height: 25vh;
            min-height: 0vh;
        }
        h5{
            font-size: 0.8rem;
        }
        .project-title{
            min-height: 6vh;
        }
    }

}

.project-badge{
    border-radius: 0.2rem;
    background-color: #fff;
    img {
        object-fit: cover;
        overflow: hidden;
        height: 30vh;
        width: 40vh;
        z-index: 1;
    }
    a {
        font-size: 0.9rem;
        font-weight: 500;
        color: #000;
        text-align: center;
    }
    &.badge-panel{
        transition: box-shadow .3s;
    }
}

.project-badge:hover{
    &.badge-panel{
        box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.3) !important;
    }
}

@media (max-width: 767.98px) {
    .news {
        p {
            font-size: 0.8rem;
        }
    }
}

.follow{
    background-color: #2F2423;
    z-index: 7;
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
    h2 {
        text-align: center;
        color: white;
        font-weight: 500;
    }
    a {
        color: #d2c295
    }
    p {
        font-size: 1rem;
        font-weight: 300;
    }
}
.footer{
    background-color: #8c1515;
    font-size: 0.7rem;
    z-index: -1;
    display: flex;
    align-items: flex-end;

    a {
        color: #d2c295;
    }
}

.icons {
    font-size: 2rem;
    a {
        color: white;
    }
}

@media (max-width: 767.98px) {
    .icons {
        font-size: 2rem;
    }
}

.navbar{
    ul {
        font-size: 1rem;
    }
}

.footer-left-text {
  font-weight: 400;
}

.active {
    font-weight: 400
}

.project-masthead{
    z-index: 9999;
    h1 {
       font-size: 2.5rem;
       font-weight: 300;
       margin: 0;
    }

    p {
        margin: 0;
        line-height: 1.5rem;
    }
}

.project-container{
    z-index: -1;
    background-color: #F9F6EF;
    hr {
        border-top: 0.05rem solid #ccc;
        border-bottom: 0.05rem solid #ccc;
    }
}

.project-card{
    z-index: 9999;
    max-width: 85%;
    transition: box-shadow .3s;
    background-color: #fff;

    img {
        margin: 0;
        max-height: 12rem;
        vertical-align: middle;

    }
    p {
        margin: 0;
    }
    h2{
        margin: 0;
    }
}

.project-card:hover{
    box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.3) !important;
}

.project-page{
    h2{
        font-weight: 300;
    }
    p {
        line-height: 1.5rem;
    }
    hr {
        border-top: 0.05rem solid #ccc;
        border-bottom: 0.05rem solid #ccc;
    }
}

.nav-tabs {
  display: block;
}

.nav-tabs>li {
  display: inline-block;
}

.publication-head {
  border: 0;
  border-top: 0.6px solid #969696;
  border-bottom: 0.6px solid #969696;
  margin: 0 0 0 0;
}

.publication-head-content {
  padding: 0.47rem 0 0.47rem 0.6rem;
  background-color: #f4f4f4;
  border-radius: 8px;
  border: 2px solid #c2c2c2;
  word-spacing: 0.013rem;
}

.publication-head-content h3 {
  margin: 0;
}

.publication-title {
  border-radius: 0 0 13px 13px;
  background-color: #8c1515;
  padding: 1.97rem 1.2rem 0.9rem 1.2rem;
  margin-bottom: 0.5rem;
}

.publication-title h2 {
  color: white;
  margin: 0;
  font-size: 2.2rem;
}

.publication-content {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

.publication-descrip {
  padding-left: 0;
}

ol.bibliography {
  padding: 0.9rem 0.9rem 2rem 0.9rem;
  margin: 0;
}

.publication-nav {
  margin-bottom: 1rem;
  min-height: 2.1rem;
}

.publication-nav span {
  font-weight: 500;
  font-size: 0.9rem;
  float: left;
  padding: 11px 0px 4px 12px;
  margin-right: 1.8rem;
}

@media (max-width:40em) {
  .publication-nav span {
    font-weight: 600;
    font-size: 0.9rem;
    display: block;
    width: 100%;
    padding: 10px 0px 4px 12px;
    margin-bottom: 0.46rem;
    margin-right: 0;
  }
}

.publication-nav a {
  color: #737373;
  font-size: 0.87rem;
  font-weight: 400;
}


ol.bibliography li {
  padding-top: 0.18rem;
  padding-bottom: 0.18rem;
  margin-bottom: 0.3rem;
}

.resources-title {
  padding: 0.9rem 1.2rem 0.9rem 1.2rem;
  margin-bottom: 0.5rem;
  margin-top: 0.82rem;
}

.resources-title h2 {
  font-size: 1.9rem;
}

.resources-descrip {
  margin: 0 1.2rem 2.7rem 1.2rem;
}

.resources-descrip-title {
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0 0 0.3rem 0;
}

.resources-descrip-info {
  margin: 0 0.6rem;
  font-size: 0.97rem;
  padding: 0.91rem 3.7rem 0 3.7rem;
  line-height: 1.8;
  font-family: serif;
}

.people-starter {
  text-align: center;
}

.people-starter > p {
  display: inline-block;
  margin: 1.4rem auto 2.1rem auto;
  font-weight: 400;
  font-size: 1.0rem;
  font-family: monospace;
  padding: 2.1rem 1.4rem;
  border-top: 1.3px solid #eee;
  border-bottom: 1.3px solid #eee;
}

.people-starter > i {
  font-size: 2.9rem;
  display: block;
  margin-top: 1.3rem;
}

.people-title {
  padding-top: 1.6rem;
}

.people-title > h3::before {
  margin: 0;
  color: white;
}

.people-group {
  border-top: 0.64px solid #eee;
  border-bottom: 0.64px solid #eee;
}

.people-list-info > a {
  color: #515151;
}

.people-list-info > span {
  font-weight: 500;
}

.person-row {
  padding-top: 1.2rem;
}

@media (min-width:1560px) {
  .person-row .img-fluid {
    max-width: 400px;
  }
}