<div class="list-item-people">
    <p class="list-post-title">
      <a href="https://web.stanford.edu/~schwager/">
        <img
          class="pi-thumbnail"
          src="{{site.baseurl}}/images/people/macschwager.jpg">
      </a>
      <a class="name" href="https://web.stanford.edu/~schwager/">
        <b>Mac Schwager</b>
      </a>
    </p>
</div>

<div class="list-item-mac-description">
    <p class = "people-list-info" style="font-size:20px;">
	<span>Assistant Professor</span> <br>
	<a class="name" href="https://www.stanford.edu/"> Stanford University </a> <br>
	<a class="name" href="https://aa.stanford.edu/"> Department of Aeronautics and Astronautics </a> <br>
	Director of the <a class="name" href="https://msl.stanford.edu/"> Multi-robot Systems Lab (MSL) </a> <br>
	Ph.D. MIT, 2009 <br>
	M.S. MIT, 2005 <br>
	B.S. Stanford, 2000 <br>
	</p>
  </div>
