<nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-center">

    <a class="navbar-brand mr-auto" href="#">
        <span class="d-inline-block d-sm-none">Navbar</span>
    </a>

    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto d">
        <li> <a class="navbar-brand d-none d-sm-block" href="#">Navbar</a> </li>
      {% for nav in site.nav %}
        <li class="nav-item">
            <a class='nav-link' href="{{ nav.href }}">{{ nav.name }}</a>
        </li>
      {% endfor %}
    </ul>
    </div>
</nav>
