<div class="news text-black justify-content-center py-4">
    <h2> <span text-align="center"><i class="fa fa-newspaper-o" display="inline"></i> Recent News </span> </h2>

    <div class="container mt-4">
        {% assign sorted = (site.news_items | sort: 'date') | reverse | slice: 0, 3%}
        {% for item in sorted %}
            <div class="row">
                <div class="col-3 text-right text-black ml-auto">{{ item.date | date: "%B %d, %Y" }}:</div>
                <div class="col-6 text-left text-black mr-auto">{{ item.content }}</div>
            </div>
        {% endfor %}
    </div>
</div>
