<div class="list-item-people">
    <p class="list-post-title">
        <a href="{{site.url}}{{person.url}}">
            <img
                class="profile-thumbnail"
                {% if person.avatar %}
                    src="{{site.url}}/images/people/{{person.avatar}}">
                {% else %}
                    src="{{site.url}}/images/people/stanford_tree.png">
                {% endif %}
        </a>
        <a class="name" href="{{site.url}}{{person.url}}">
            <b>{{person.name}}</b>
        </a>
    </p>
    <p class="list-post-extra">
        {% include position_text.html position=include.position %}
    </p>
    <hr class="list-post-extra">
    <p class="list-post-extra">{{person.focus}}</p>
</div>