---
layout: default
---
    <span class="d-inline-block align-middle">
        <img src="{{site.url}}/images/projects/msl_herd-4.jpg" style="max-height: 325px; min-width: 100%; margin: 0;" class="img-fluid banner-img my-0" />
    </span>

    <div class="shadow home-masthead justify-content-center w-100">
        <div class="row justify-content-center">
            <div class="col-10">
                <h1><b>M</b>ulti-Robot <b>S</b>ystems&nbsp;<b>L</b>ab </h1>
            </div>
        </div>
        <div class="mt-4 row justify-content-center">
            <div class="col-7">
                 <p>We are leading the next wave of robotics research from single robots
                     to multi-robot teams in solving challenging&nbsp;tasks.</p>
            </div>
        </div>
    </div>

    {% include news.html %}

    {% include follow-us.html %}
