---
layout: default
---
<div class="container-fluid project-page px-0 mt-2 justify-content-center">
    <div class="row px-auto">
        <div class="col-8 col-md-6 col-lg-4 mx-auto pt-4">
            <img class="img-fluid px-auto"
            src="{{site.url}}/images/projects/{{page.image}}" />
        </div>

        <div class="col-10 col-lg-7 mx-auto pt-4">
            <div class="row text-center pb-2">
                <h2> {{page.title}} </h2>
            </div>
            <div class="row text-justify">
                {{page.content}}
            </div>
        </div>

    </div>
    {% if page.keyword %}
        <hr>
        <div class="row justify-content-center mt-4">
            <div class="col-12">
                <h4 class="mb-0"> Related Publications: </h4>
                {% assign keyword = page.keyword | downcase | replace: " ", "\_" %}
                {% bibliography --query @*[keywords={{keyword}}] %}
            </div>
        </div>
    {% endif %}
    {% if page.youtube %}
        {% assign links = page.youtube | split: "," %}
        <hr class="mt-0">
        <div class="row mt-4 mb-0">
            <h4> Related Videos: </h4>
        </div>
        <div class="row mt-2 mb-4 justify-content-center">
        {% for link in links %}
            {% assign clean_link = link | replace: "/watch?v=", "/embed/" %}
            <div class="col-10 col-md-6 py-2">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{{clean_link}}" allowfullscreen></iframe>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
</div>
