---
layout: default
---

<div class="container">
  <div class="resources-title">
    <h2>Inquiries</h2>
  </div>
  <div class="resources-descrip">
   <p class="resources-descrip-title">For inquiries, reach us at:
   </p>
   <p class="resources-descrip-info">
   Multi-Robot Systems Lab
   <br>
   Department of Aeronautics and Astronautics
   <br>
   496 Lomita Mall
   <br>
   Stanford, CA 94305
   </p>
  </div>

  <div class="resources-title">
    <h2>Funding</h2>
  </div>
  <div class="resources-descrip">
    {{ content }}
  </div>
</div>

