---
layout: default
---

<div class="container">
  <div class="resources-title">
    <h2>Inquiries</h2>
  </div>
  <div class="resources-descrip">
   <p class="resources-descrip-title">For inquiries, reach us at:
   </p>
   <p class="resources-descrip-info">
   Multi-Robot Systems Lab
   <br>
   Department of Aeronautics and Astronautics
   <br>
   496 Lomita Mall
   <br>
   Stanford, CA 94305
   <br>
   Multi-robot-systems-lab@stanford.edu
   </p>
  </div>
  <hr>

  <div class="resources-title">
    <h2>Funding</h2>
  </div>
  <div class="resources-descrip resources-descrip-img">
    {{ content }}
  </div>
  <hr>

  <div class="wiki-header">
    <h2> Lab Wiki <h2>
    <p class="mb-5 mt-3"> Click <a href="https://sites.google.com/a/stanford.edu/mslwiki/"> here <a/> to go to the MSL Wiki (requires login). </p>
</div>
